<h1><%= @section.name %></h1>
<!-- show all lessons in this section -->
<%= @section.lessons.each do |lesson| %>
<p><%= lesson.name %></p>
<% end  %>
<%= link_to "Add a lesson", new_section_lesson_path(@section) %>
<p><%= link_to "Edit this section", edit_section_path(@section) %> |
<%= link_to "Delete this section", section_path(@section),
                                  :data=> {:confirm => "Are you sure?",
                                  :method => "delete"}%></p>
<%= link_to "Back to all sections", sections_path  %>
