<h1><%= @lesson.name %></h1>
<% if @lesson.image%>
  <img src="<%= @lesson.image %>" class="img-rounded lessonImage">
<% end %>
<p><%= @lesson.content %></p>

<p><%= link_to "Edit this lesson", edit_section_lesson_path(@lesson.section, @lesson) %> |
<%= link_to "Delete this lesson", section_lesson_path(@lesson),
                                  :data=> {:confirm => "Are you sure?",
                                  :method => "delete"}%></p>
<%= link_to "Back to all Sections", sections_path  %>
